<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>

    <appSettings>
        <add key="sqlConnString" value="Server=FNC-SQL-PRI;Database=CoronaVirusData;Uid=sa;Pwd=Engineer@1;Connection Timeout=30;"/>
        <add key="storedProcedure_County" value="insertParsedCSVCountydata"/>
        <add key="storedProcedure_State" value="insertParsedJSONStatedata"/>
        <add key="storedProcedure_Vaccinations_State" value="insertParsedJSONStateVaccinationData]"/>
        <add key="defaultCSVFileDirectory" value ="c:\Covid19CSVDataFiles"/>
        <add key="defaultJSONFileDirectory" value ="c:\Covid19JSONVaccinationDataFiles"/>
    </appSettings>

</configuration>